<div class="about grid">
    <div class="about-image">
      <%= image_tag("roty") %>
    </div>
    <div class="about-text">
      <h1 class="title">About Me</h1>
      <p>
        I’m a freelance Illustrator and Graphic Designer living in San Diego, California. 
        My art is heavily influenced by the sunday morning comics I grew up reading and relies on minimal shadows and clear shapes.
      </p>
    </div>
    

    
</div>