<div class="contact">
  <h1 class="title">Get In Touch</h1>
  <p>
    Have some cool art you want to make happen? Wanna say hi? Send me a message
  </p>
  
  <!-- This is what the form should look like> -->
  <div class="contact-form">
    <input type="text"    placeholder= "NAME" class="name-input">
    <input type="text"    placeholder= "EMAIL" class="email-input">
    <textarea name="idea" placeholder="I have this really cool idea for..." id="idea" cols="30" rows="10" class="message-input"></textarea>
    <button class="submit-button">Submit</button>
  </div>

</div>