<div class="container">
      <div class="gallery">
      <% @projects.each do |project| %>
          <div class="gallery-item">
            <%= image_tag(project.images[0])%>
            <%= link_to  project_path(project) do %>
              <p><%=project.title %></p>
            <% end %>
          </div>
      <% end %>
      </div>
</div>