<div class="container">
  <h1 class="title">Projects</h1>


      <% @projects.each do |project| %>
          <div class="project-image">
            <%= image_tag(project.images[0])%>
          </div>
      <% end %>
  <% if current_user && current_user.admin%>
    <%= link_to 'New Project', new_project_path %>
  <% end %>
</div>