/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --u-padding: 25px;
  font-size: 21px;
  --primary: #d20101;
  --alert: #ffc107;
  --notice: #28a745;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-family: "Permanent Marker", cursive;
}

p {
  max-width: 55ch;
  line-height: 1.6;
  padding-bottom: 1rem;
}

.active {
  color: var(--primary);
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.about,
.contact {
  margin: 0 auto;
  padding: 0 var(--u-padding);
  min-height: 700px;
  padding-top: 3em;
}

.contact {
  max-width: max-content;
}

.about {
  max-width: 1250px;
  align-items: center;
}

.grid {
  display: grid;
}

.about-text {
  order: 0;
}

.about .title,
.contact .title,
.container .title {
  text-align: center;
}
.about-image {
  width: 70%;
  max-width: 400px;
  max-height: 400px;
  margin: calc(var(--u-padding) / 2) auto;
  clip-path: polygon(0% 1%, 100% 0%, 98% 96%, 2% 97%);
  order: 2;
  background-color: blue;
}
.about-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.gallery {
  margin: 0 auto;
  grid-auto-flow: dense;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2em;
  box-sizing: border-box;
  padding: 1.2em;
}

.spacer {
  height: 2rem;
  grid-column: 1/-1;
  position: relative;
}

.project-spacer {
  height: 9rem;
}
.spacer::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10%;
  left: 10%;
  /* background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1); */
}
.gallery-item {
  display: grid;
  border: 3px solid black;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 1em;
  box-shadow: 3px 4px 0 0 rgba(0, 0, 0, 0.25);
}

.gallery-item:nth-of-type(2n + 1) {
  /* border-color: red; */
  grid-row: span 2;
  grid-column: span 2;
}
.gallery-item:nth-of-type(6n + 1) {
  /*   border-color: black; */
  grid-row: span 1;
  grid-column: span 1;
}

.gallery-item::before,
.gallery-item > img {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.gallery-item::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.gallery-item a {
  text-decoration: none;
  display: grid;
  place-items: center;
  content: attr(data-title);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 200ms ease-in-out;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 21px;
}

.gallery-item:hover a {
  opacity: 1;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-image img {
  max-width: 100%;
}

.mailbox {
  display: grid;
  gap: 1rem;
}
.letter {
  max-width: 100%;
  border: 2px solid black;
  padding: 3rem;
  position: relative;
}
.letter-date {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.flash {
  z-index: 100;
  position: fixed;
  top: 10%;
  right: 10%;
  min-height: 3rem;
  min-width: 10rem;
  width: max-content;
  max-width: 300px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem 1rem 0.5rem 2rem;
  border-radius: 0.4em;
  overflow-x: hidden;
  display: grid;
  align-items: center;
  justify-content: right;
  font-size: 16px;
  font-family: sans-serif;
}
.flash.notice {
  color: var(--notice);
}
.flash.alert {
  color: var(--alert);
}
@media only screen and (min-width: 700px) {
  .gallery {
    display: grid;
  }
  .gallery-item {
    margin-bottom: 0;
  }

  .spacer {
    height: 5rem;
  }
  .about {
    grid-template-columns: 1fr minmax(50%, 400px);
  }
  .about-text .title {
    text-align: left;
  }
}
