    <footer>
      <% unless current_page?(contact_path)%>
        <h1 class="jon">Jon </h1>
        <span class="subtitle">Makes Art</span>
      <% end %>

      <ul class="nav-secondary-list">
        <li class="nav-secondary-item"><a href="#"><span class="fab fa-instagram"></span></a></li>
        <li class="nav-secondary-item"><a href="#"><span class="fab fa-facebook-square"></span></a></li>
        <li class="nav-secondary-item"><a href="#"><span class="fab fa-twitter"></span></a></li>
      </ul>
    </footer>